In [29]:
import pandas as pd

df = pd.read_pickle("./dataset/data.pickle")

In [30]:
df["p"] = df["prompt"].str.lower()

In [31]:
df2 = df.drop_duplicates("p")

In [32]:
df2.groupby(["row", "column"]).count()

            prompt    p
row column
0   9          299  299
9   0           68   68
    9          724  724