In [100]:
import pandas as pd

df = pd.read_pickle("./dataset/data.pickle")

In [101]:
df["p"] = df["prompt"].str.lower()

In [102]:
df2 = df.drop_duplicates("p")

In [103]:
df2.groupby(["row", "column"]).count()

            prompt     p
row column
0   9         1040  1040
9   0         1082  1082
    9          724   724

In [99]:
df2[(df2.row == 9) & (df.column == 0)]

C:\Users\oussa\AppData\Local\Temp\ipykernel_28828\2084184329.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2[(df2.row == 9) & (df.column == 0)]

,row,column,prompt,p
200,9,0,"""Navigate to the extreme left cell in the bott...","""navigate to the extreme left cell in the bott..."
201,9,0,"""Navigate to the leftmost location on the lowe...","""navigate to the leftmost location on the lowe..."
202,9,0,Navigate to the farthest left position on the ...,navigate to the farthest left position on the ...
203,9,0,Head to the leftmost slot of the penultimate l...,head to the leftmost slot of the penultimate l...
204,9,0,"Descend to the penultimate row, then navigate ...","descend to the penultimate row, then navigate ..."
...,...,...,...,...
4040,9,0,Go to the bottom row on the leftmost position.\n,go to the bottom row on the leftmost position.\n
5196,9,0,Go to the bottom row on the left.\n,go to the bottom row on the left.\n
5236,9,0,Go to the bottom row's first case.\n,go to the bottom row's first case.\n
6624,9,0,Go to the bottom row on the leftmost column.\n,go to the bottom row on the leftmost column.\n
6630,9,0,Go to the first case on the last row.\n,go to the first case on the last row.\n

In [85]:
import random

idx = random.choice(df2.index)

print(df2.loc[idx].prompt)
df2.loc[idx]

Advance almost completely down and across the expanse to find your mark.

row                                                       9
column                                                    9
prompt    Advance almost completely down and across the ...
p         advance almost completely down and across the ...
Name: 3321, dtype: object