In [16]:
import pandas as pd

df = pd.read_pickle("./dataset/data.pickle")

In [15]:
df[["row", "column", "prompt"]].reset_index().to_pickle("./dataset/data.pickle")

In [21]:
df["p"] = df["prompt"].str.lower()

In [22]:
df2 = df.drop_duplicates("p")

In [23]:
df2["test"] = False

In [24]:
import numpy as np
def mark_20_percent_true(group):
    """
    For a given group (DataFrame), randomly marks 20% of the rows in the 'test' column as True.

    Args:
        group (pd.DataFrame): DataFrame representing a single group from groupby operation.

    Returns:
        pd.DataFrame: Modified DataFrame with 20% of 'test' column in the group marked as True.
    """
    group_size = len(group)
    num_true = int(group_size * 0.20)  # Calculate 20% of the group size

    if num_true > 0: # Only proceed if there is something to mark as True
        indices_to_mark = np.random.choice(group.index, size=num_true, replace=False) # Randomly select indices
        group.loc[indices_to_mark, 'test'] = True # Set 'test' column to True for selected indices
    return group

In [25]:
df2.groupby(["row", "column"]).count()

            prompt    p  test
row column
0   9          832  832   832
9   0          866  866   866
    9          808  808   808

In [13]:
ls = df2.groupby(["row", "column"]).apply(lambda df: mark_20_percent_true(df)).reset_index(drop=True)

C:\Users\oussa\AppData\Local\Temp\ipykernel_36976\936090105.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ls = df2.groupby(["row", "column"]).apply(lambda df: mark_20_percent_true(df)).reset_index(drop=True)

In [14]:
ls.test.sum()

625

In [ ]:
# .to_pickle("./dataset/data.pickle")

In [ ]:
ls[~ls.test][["row", "column"]]